@font-face {
  font-family: "Avara-Bold";
  src: url("fonts/Avara-Bold.woff2") format("woff2");
}

/* ----------------------------- OVERALL ----------------------------- */

body {
  background-color: yellow;
  font-family: "Avara-Bold", serif;
}

img {
  max-width: 100%; /* Bild passt sich Container an */
  height: auto; /* Höhe behält Proportionen */
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

/* ----------------------------- RASTER ----------------------------- */

.grid-container {
  display: grid;
  padding: 15px;
  column-gap: 15px;
  row-gap: 30px;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-areas:
    "bio name name name"
    ". image-1 image-1 text-1"
    ". image-1 image-1 text-1"
    "text-2 image-2 image-2 image-2"
    "image-3 image-3 image-3 text-3";
}

/* ----------------------------- RASTER ELEMENT ----------------------------- */

.name {
  grid-area: name;
  position: sticky;
  top: 15px;
}

.name h1 {
  text-align: center;
  font-size: 100px;
  color: blue;
  transition: color 1s ease;
}

.name h1:hover {
  color: green;
}

.bio {
  grid-area: bio;
  align-self: end;
}

.bio p {
  color: red;
  font-size: 24px;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.bio p:hover {
  opacity: 1;
}

.image-1 {
  grid-area: image-1;
}

.image-1 img {
  transition: transform 0.5s ease;
}

.image-1 img:hover {
  transform: scale(1.1);
}

.image-2 {
  grid-area: image-2;
}

.image-2 img {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease;
}

.image-2 img:hover {
  box-shadow: 5px 10px 20px 5px rgb(68, 113, 70, 5);
}

.image-3 {
  grid-area: image-3;
}

.image-3 img {
  transition: transform 0.5s ease;
}

.image-3 img:hover {
  transform: rotate(5deg) scale(1.5);
}

.text-1 {
  grid-area: text-1;
}

.text-2 {
  grid-area: text-2;
}

.text-3 {
  grid-area: text-3;
}
